/* Sección Contactanos */
#contact {
    height: 100vh; /* Ocupa toda la pantalla en dispositivos grandes */
    padding: 40px 20px; /* Espaciado en dispositivos pequeños */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    #contact {
        height: auto; /* Ajusta la altura automáticamente en dispositivos pequeños */
        padding: 20px 10px; /* Reduce el espacio interno */
    }

    form {
        padding: 20px; /* Reduce el espaciado interno del formulario */
    }

    h2 {
        font-size: 1.8rem; /* Reduce el tamaño del título */
        margin-bottom: 15px;
    }
}

